RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

# Deny access to sensitive directories
RedirectMatch 403 ^/FurniCart/(includes|classes|sql)/.*$